<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

<!-- 	做spring的基础配置 -->
<!-- 	1 spring容器注册 -->
	<context:annotation-config></context:annotation-config>
<!-- 	2 自动扫描配置 -->
	<context:component-scan base-package="com.lzl.*"></context:component-scan>
<!-- 	3 激活aop注解方式的代理 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="registerDefaultFormatters" value="false"/>
		<property name="formatters">
			<set>
				<bean class="org.springframework.format.number.NumberFormatAnnotationFormatterFactory"/>
			</set>
		</property>
		<property name="formatterRegistrars">
			<set>
				<bean class="org.springframework.format.datetime.joda.JodaTimeFormatterRegistrar">
					<property name="dateFormatter">
						<bean class="org.springframework.format.datetime.joda.DateTimeFormatterFactoryBean">
							<property name="pattern" value="yyyyMMdd"/>
						</bean>
					</property>
				</bean>
			</set>
		</property>
	</bean>
	
<!--  	=====================================定时任务配置start==================================================== -->

	<!-- 说明：※，本版本要求quartz最低版本2.1.4,我这里用的是最新的版本，2.3.0  -->
	
	<!--使用简单作业详情-->
<!--     <bean id="simpleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!--         配置简单作业的目标类 -->
<!--         <property name="targetObject" ref="mySimpleJob"/> -->
<!--         配置简单作业的目标方法 -->
<!--         <property name="targetMethod" value="execute"/> -->
<!--         false表示等上一个任务执行完后再开启新的任务 -->
<!--         <property name="concurrent" value="false"/> -->
<!--     </bean> -->
    <!--使用定时作业详情-->
<!--     <bean id="cronJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean"> -->
        <!--配置简单作业的目标类-->
<!--         <property name="jobClass" value="com.bdqn.task.MyCronJob"/> -->
        <!--配置耐久性，如果一个任务不是durable，那么当没有Trigger关联它的时候，它就会被自动删除-->
<!--         <property name="durability" value="true"/> -->
<!--     </bean> -->
    <!--配置简单触发器-->
<!--     <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean"> -->
<!--         <property name="jobDetail" ref="simpleJobDetail"/> -->
        <!-- 延迟10s执行 -->
<!--         <property name="startDelay" value="10000"/> -->
        <!-- 每隔15s执行一次 -->
<!--         <property name="repeatInterval" value="15000"/> -->
<!--     </bean> -->
    <!--配置定时触发器-->
<!--     <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!--         <property name="jobDetail" ref="cronJobDetail"/> -->
        <!--每隔8s执行一次,cronExpression表达式用于描述时间，以及执行次数，详情参数documentation: cronExpression.txt
        	需要用的时候查询即可，不需要死记。
        -->
        <!-- 延迟20秒开始 -->
<!--         <property name="startDelay" value="20000"></property> -->
<!--         <property name="cronExpression" value="*/8 * * * * ?"/> -->
<!--     </bean> -->
    <!--配置调度器工厂-->
<!--     <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> -->
        <!--配置触发器-->
<!--         <property name="triggers"> -->
<!--             <list> -->
            	<!-- 将前面写好的触发器配置在此 -->
<!--                 <ref bean="simpleTrigger"/> -->
<!--                 <ref bean="cronTrigger"/> -->
<!--                 	加入了自己写的任务，你需要在这里去注册一下 -->
<!--             </list> -->
<!--         </property> -->
<!--     </bean> -->
    
    <!--  	=====================================定时任务配置end==================================================== -->
</beans>